<div class="container" data-controller="chart" data-chart-students-value="<%= @arrangement.json_file %>">
  <div class="container d-flex row">
    <h1 class="d-flex justify-content-center col-12"><%= @classroom.name %></h1>
    <div class="container classes-container col-2">
      <h3>Students</h3>
      <div data-chart-target='studentList'>
        <% @s_class.students.each do |student| %>
          <%# create cards %>
          <div draggable="true" data-action="dragstart->chart#onDragStart" data-student="<%= student.id %>" class="s-class-cards show" style="<% if student.gender == "Male" %>
              background-color: lightblue
            <% elsif student.gender == "Female" %>
              background-color: pink
            <% elsif student.gender == "Other" %>
              background-color: lightgreen
            <% elsif student.gender == "Unknown" %>
              background-color: lightgray
            <% end %>">
            <p><%= student.name %></p>
          </div>
        <% end %>
      </div>
    </div>
    <%# display classroom arrangement %>
    <div class="container classrooms-container col-9">
      <h3><% @classroom.name %></h3>
      <h6 class="my-1">Back</h6>
      <%=  render "chart", classroom: @classroom, s_class: @s_class %>
      <h6 class="my-1">Front</h6>
      <% if @arrangement.is_new %>
        <%= simple_form_for [@classroom, @arrangement], html: { hidden: "true" },
        data: { chart_target: "form", arrangement: @arrangement, s_class_id: @s_class.id, new: "true" } do |f|%>
          <%= f.input :s_class_id, input_html: { value: @s_class.id } %>
          <%= f.input :json_file, input_html: { value: "" } %>
        <% end %>
      <% else %>
        <%= simple_form_for [@classroom, @arrangement], url: classroom_arrangement_path(@classroom, @arrangement), method: :patch, html: { hidden: "true" },
        data: { chart_target: "form", arrangement: @arrangement, s_class_id: @s_class.id, new: "false" } do |f|%>
          <%= f.input :s_class_id, input_html: { value: @s_class.id } %>
          <%= f.input :json_file, input_html: { value: "" } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
