<div class="student-info">
  <h3><%= @student.name %></h3>
  <h4><%= @student.kanji_name.present? ? @student.kanji_name : "" %></h4>
  <p>#<%= @student.student_number %></p>
  <p><%= @student.points %> pts</p>
  <p><%= @student.comments %></p>
  <button data-action="click->comments#showCommentsForm" class="btn btn-secondary">Add/Edit Comments</button>
  <%= simple_form_for [@s_class, @student], html: {class: "d-none form-control"}, data: {comments_target: "commentsForm"} do |f| %>
    <%= f.input :comments, label: "Your comments:" %>
    <%= f.submit "Save Comments" %>
  <% end %>
  <!-- Button trigger edit modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropEdit">
    Edit Student
  </button>
  <!-- Edit Modal -->
  <div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEdit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabelEdit">Edit Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "s_classes/student_form",  s_class: @s_class, student: @student %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Remove Student", s_class_student_path(@student), class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</div>
