<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid row">
    <%= link_to "/", class: "navbar-brand col-4" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-8 justify-content-end align-items-center" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <%= link_to "/", class:"mx-4 mt-3 navbar-link" do %>
          <p>Home</p>
        <% end %>
        <%= link_to "#", class:"mx-4 mt-3 navbar-link" do %>
          <p>Messages</p>
        <% end %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"mx-4 mt-3 navbar-link" do %>
          <p>Log out</p>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class:"mx-4 mt-3 navbar-link" do %>
          <p>Login</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
