<h1>Year <%= @s_class.year %>, Kumi <%= @s_class.kumi %></h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  New Student
</button>
<% if @students.any? %>
  <h2>Students</h2>
  <div class="students-list col-8">
    <% @students.each do |student| %>
      <div class="student-info" style="<% if student.gender == "Male" %>
          background-color: lightblue
        <% elsif student.gender == "Female" %>
          background-color: pink
        <% elsif student.gender == "Other" %>
          background-color: lightgreen
        <% elsif student.gender == "Unknown" %>
          background-color: lightgray
        <% end %>">
        <div><%= student.name %></div>
        <div><%= student.student_number %></div>
        <div><%= student.kanji_name.present? ? student.kanji_name : "" %></div>
        <div><%= student.points %></div>
        <div><%= student.comments.present? ? student.comments : "Add comments!" %></div>
        <%= link_to "Remove", s_class_student_path(student), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No students yet!</p>
<% end %>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "student_form",  s_class: @s_class, student: @student %>
      </div>
    </div>
  </div>
</div>
