<h1>Year <%= @s_class.year %>, Kumi <%= @s_class.kumi %></h1>
<%= link_to "Delete Class", s_class_path(@s_class), class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  New Student
</button>
<%= form_with model: @classrooms, method: :post, url: redirect_to_classroom_path(s_class_id: @s_class.id) do |f| %>
  <%= f.collection_select :classroom_id, @classrooms, :id, :name, prompt: 'Choose Classroom', classroom_id: :classroom_id  %>
  <%= f.submit "Assign Classroom", class: "btn btn-secondary" %>
<% end %>
<% if @students.any? %>
  <h2>Students</h2>
  <div class="students-list col-12" data-controller="student-details">
    <div class="student-names col-4">
      <% @students.each do |student| %>
        <div class="student-name"
          data-action="click->student-details#viewStudent"
          data-student-details-target="studentName"
          data-student-details-id="<%= student.id %>"
          style="<% if student.gender == "Male" %>
            background-color: lightblue
          <% elsif student.gender == "Female" %>
            background-color: pink
          <% elsif student.gender == "Other" %>
            background-color: lightgreen
          <% elsif student.gender == "Unknown" %>
            background-color: lightgray
          <% end %>">
          <%= student.name %>
        </div>
      <% end %>
    </div>
    <div class="student-info col-6" data-student-details-target="detailsView">
      <div><%= @students.first.name %></div>
      <div><%= @students.first.student_number %></div>
      <div><%= @students.first.kanji_name.present? ? @students.first.kanji_name : "" %></div>
      <div><%= @students.first.points %></div>
      <div><%= @students.first.comments.present? ? @students.first.comments : "Add comments!" %></div>
      <%= link_to "Remove", s_class_student_path(@students.first), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
  </div>
<% else %>
  <p>No students yet!</p>
<% end %>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "student_form",  s_class: @s_class, student: @student %>
      </div>
    </div>
  </div>
</div>
